.exit_btn{
    -fx-background-radius: 10px 10px 10px 10px;
    -fx-background-color:  #FCF6F5FF;
}

.all_btns{
    -fx-background-color: #F95700FF;
}

.all_btns:hover{
    -fx-background-radius: 10px 50px 10px 50px;
    -fx-background-color:  #B94300;
    -fx-width: 50%;
}

.exit_btn:hover{
    /* transition: 2s; */
    -fx-background-color: black;
    -fx-color: red;
}

.bt_log{
    -fx-background-color: #F95700FF;
    -fx-color: red;
    -fx-background-radius: 50px 50px 50px 50px;
}

.bt_log:hover{
    -fx-background-color: black;
}

.login_txb{
    -fx-background-radius: 50px 50px 50px 50px;
}

.home{
    -fx-background-radius: 10px 10px 10px 10px;
}

.dowara{
    -fx-background-radius: 1000px;
}

.comboboxes{
    -fx-border-color: #F95700FF;
}

.booordertx{
    -fx-border-color: black;
}